@media screen and (max-width: 1200px) {
  h1 {
      font-weight: 600;
      font-size: 55px;
    }
  /* Header */
  header {
    display: grid;
    grid-template-columns: 150px 1fr 270px;
    font-size: 16px;
  }

  .header_menu {
    width: 450px;
  }

  .auth_login {
    width: 82px;
    font-size: 16px;
  }

  .auth_register {
    width: 170px;
    font-size: 16px;
  }
/* Main */
  .block_description {
    margin: 130px auto 100px;
  }
/* Tariff block */
  .tariff_block {
    gap: 15px;
  }
  .tariff_item {
    width: calc(100% / 3 - 10px);
  }

/* block_demo_tariff_description */
.block_demo_tariff_description{
  margin: 100px 0px 120px 0px;
}
}