 @media screen and (max-width: 960px) {
  h1 {
      font-size: 60px;
    }
   /* Header */
   header {
     display: flex;
     justify-content: space-between;
     font-size: 14px;
   }

   .header_auth {
     width: 270px;
   }

   .header_menu {
     display: none;
   }
  /* Main */
  .block_description {
      margin: 120px auto 100px;
  }
  /* Tariff block */
  .tariff_block {
    gap: 20px;
  }
  .tariff_item {
    width: calc(50% - 10px);
  }
}