/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a{
  color: white;
  text-decoration: none;
}
h1 {
  font-weight: 600;
  font-size: 65px;
}
h2{
  font-weight: 600;
  font-size: 55px;
}
p {
  font-size: 14px;
}
b {
  font-size: 600;
}

li {
  list-style-type: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 1920px;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 200px 1fr 330px;
  align-items: center;
  height: 80px;
  font-size: 18px;
  padding: 0px 30px;

}
header a {
  cursor: pointer;
}

.header_menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.header_menu a:hover {
  color: rgba(0, 0, 0, 0.5);
 }

.header_auth {
  display: flex;
  justify-content: space-between;
}

.auth_login {
  width: 92px;
  height: 42px;
  font-size: 18px;
  color: black;
  border: 1px solid;
  cursor: pointer;
}

.auth_register {
  width: 221px;
  font-size: 18px;
  height: 42px;
  color: white;
  background-color: #0F8FF9;
  cursor: pointer;
}
.burger_menu {
  display: none;
}
/* Main content */
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 30px;
}

.block_description {
  width: 100%;
  max-width: 946px;
  text-align: center;
  margin: 120px auto 100px;
}
.block_description>p {
  font-size: 20px;
}

.block_description>h1 {
  margin-bottom: 20px;
}

/* Tariff block */
.tariff_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}


.tariff_item {
  width: calc(25% - 12px);
  min-width: 260px;
  border-radius: 8px;
  padding: 35px 25px 25px 25px;
}
  
.tariff_item:nth-child(1) {
  background-color: #FFF0F7;
}

.tariff_item:nth-child(2) {
  background-color: #EAFFEE
}

.tariff_item:nth-child(3) {
  background-color: #F0FCFF
}

.tariff_item:nth-child(4) {
  background-color: #F9F9F9
}

.tariff_item:nth-child(1) .card_button {
  background-color: #F0568E;
}

.tariff_item:nth-child(2) .card_button {
  background-color: #00C064;
}

.tariff_item:nth-child(3) .card_button {
  background-color: #0F8FF9
}

.tariff_item:nth-child(4) .card_button {
  color: black;
  background-color: #FFFFFF;
  border: 2px solid gray;
}

.item_title {
  font-size: 20px;
  font-weight: 600;
}

.item_description {
  font-size: 16px;
  max-width: 242px;
  margin: 10px 0px 30px 0px;
}

.item_prace {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}
.item_prace_description {
  color: rgba(5, 21, 52, 0.25);
  margin-bottom: 30px;
}

.item_not_active {
  color: rgba(5, 21, 52, 0.25);

}
.item_active {}
.card_ul {
  margin-bottom: 15px;
}

.card_li {
  display: flex;
  align-items: center;
  line-height: 150%;
}

.card_people_user {
  width: 15px;
  height: 13px;
  margin-right: 5px;
  background: url(./img/IconUser.png) no-repeat 100%;
}

.card_people_organization {
  width: 15px;
  height: 13px;
  margin-right: 5px;
  background: url(./img/IconOrganization.png) no-repeat 100%;
}
.services_img-active {
  width: 15px;
  height: 10px;
  margin-right: 5px;
  background: url(./img/IconCheck.png) no-repeat 100%;
}

.services_img-not_active {
  width: 15px;
  height: 10px;
  margin-right: 5px;
  background: url(./img/IconMinus.png) no-repeat 100%;
}
.card_button {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  margin-top: 39px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
/* block_demo_tariff_description */
.block_demo_tariff{
  margin: 182px 0px 200px 0px;
  display: flex;
  justify-content: center;
}
.demo_tariff_icon img {
  width: 200px;
  height: 220px;
  margin-right: 15px;
}
.demo_tariff_description {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.demo_tariff_description>h3{
  font-weight: 600;
  font-size: 35px;
  line-height: 110%;
}
.demo_tariff_description>p{
  font-size: 20px;
  line-height: 150%;
}
.domo_tariff_bootom>button{
  width: 213px;
  height: 42px;
  font-size: 18px;
  cursor: pointer;
  color: black;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 2px solid gray;
}
/* consultation_block */
.consultation_block{
  width: 100%;
  color: #051534;
  border-radius: 16px;
  background-color: #F9F9F9;
  text-align: center;
  padding: 120px 0px;
}
.consultation_block_ul {
  width: 100%;
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
}
.consultation_block_li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.consultation_block_numbr{
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 20px;

}
.consultation_blur {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #d9d9d9;
  filter: blur(7.5px);
}
.consultation_numbr{
  z-index: 5;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% - 7px);
  color: #555A64;
}
.consultation_title{
  width: 100%;
}
.consultation_block button {
  width: 334px;
  height: 60px;
  background: #051534;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.consultation_block h2 {
  max-width: 755px;
  margin: 0 auto;
}
/* FAQ */
.faq_container{
  margin: 200px 0px;
  font-size: 20px;
  font-weight: 300;
}

.faq > h2{
  text-align: center;
  margin-bottom: 50px;
}
.faq_accordion{
  cursor: pointer;
  width: 100%;
  max-width: max-content;
  background-color: #0F8FF9;
  color: white;
  padding: 10px 20px;
  margin: 10px 0px 20px;
  border-radius: 0px 12px 12px 12px; 
}
.faq_content{
  max-height: 0;
  overflow: hidden; 
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.faq_content_body{
  display: flex;
  justify-content: right;
}
.faq_message{
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #F9F9F9;
  border-radius: 12px 0px 12px 12px;
  align-self: flex-end;
}
.faq_icon{
  width: 50px;
  height: 50px;
  background: url(./img/IconAvatar.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15px;
}
/* Footer */
footer{
  width: 100%;
  background-color: #051534;
  color: #8394B5;
}
.footer_container{
  padding: 80px 0px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_logo_block{
  width: 25%;
}
.footer_main_block{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 100px;
}
.footer_ul{
width: 25%;
min-width: 205px;
font-weight: 400;
font-size: 16px;
line-height: 200%;
}
.footer_ul > li:nth-child(1){
  color: white;
}
.footer_ul > hr{
  margin: 15px 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer_bank{
  width: 70%;
  display: flex;
  align-items:flex-end;
}
.footer_bank_item{
  margin-right: 20px; 
}
.footer_store{
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.footer_store button {
  color: white;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.footer_store button > img {
  margin-right: 10px;
}
.footer_hr{
  width: 100%;
  margin: 27px 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer_documents{
  width: 70%;
}
.footer_documents a{
  color: #8394B5;
  margin-right: 20px;
  font-size: 14px;
}
.footer_social_networks{
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_social_networks img{
  width: max-content;
  height: max-content;
}
.INN{
  display: none;
}